annotated-types==0.7.0
asgiref==3.11.0
Django==4.2.10
django-cors-headers==4.9.0
django-environ==0.12.0
django-json-widget==2.1.1
django-nanoid-field==0.1.4
django-ninja==1.5.1
django-ratelimit==4.1.0
dnspython==2.8.0
email-validator==2.3.0
idna==3.11
nanoid==2.0.0
psycopg==3.3.1
psycopg-pool==3.3.0
pydantic==2.12.5
pydantic_core==2.41.5
ruff==0.14.10
sqlparse==0.5.4
typing-inspection==0.4.2
typing_extensions==4.15.0
whitenoise==6.11.0
